.c51425 {
    height: 24px;
    width: 24px;
} 
.MuiSvgIcon-root {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
}
.c51423 {
    color: #fff;
    height: 24px;
    width: 24px;
    pointer-events: none;
}
.site-navigation .navbar-nav>li.order-history>a {
    padding: 0;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 100px;
}

.site-navigation .navbar-nav>li {
    padding: 0 5px;
} 

.site-navigation .navbar-nav>li>a i.fa-user-circle {font-size: 25px;margin-right: 10px;}

.site-navigation .navbar-nav>li.li-signin a {
    display: flex;
    align-items: center;
    color: #fff;
}
.nav-site.fixed .site-navigation .navbar-nav>li>a, .nav-site.fixed .c51423 {color: #999;}
 
.site-navigation .navbar-nav>li.li-signin {
    margin-left: 20px;
    /* border-left: 1px solid #eee; */
}
.user-login .ul-signed li.li-signin {
    border-left: 1px solid #eee;
}
.site-navigation .navbar-nav>li>a.show_cart:hover, .site-navigation .navbar-nav>li.order-history>a:hover {
    background: rgba(0, 0, 0, 0.05); 
}
.nav-site.fixed {
    background: #ffffff;
    box-shadow: none;
}
.nav-site .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  padding-left: 50px;
  padding-right: 0;
}
.nav-site .logo-color, .nav-site.fixed .logo-w {
    display: none;
    align-items: center;
}

.nav-site.fixed .logo-color {
    display: flex;
    align-items: center;
}
.title-heading {
    background: #ffffff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 87px;
    padding: 55px 20px;
    border-bottom: 1px solid #ccc;
}
.title-heading h1 {font-size: 55px;}
.site-navigation .navbar-nav>li.active>a .c51423 {
    color: #f93;
}

.site-navigation .ul-signed {
    display:none;
}
.user-login .navbar-nav {
    display: none;
}

.user-login .ul-signed {
    display: flex;
}
.E1E5E8 {
    border-bottom: 1px solid #E1E5E8;
}
.mt-86 {
    margin-top: 86px;
}
.filter2904 {
    display: block;
    position: relative;
    max-width: 1024px;
    margin: 0 auto;
    background: #fff;
    padding: 15px 25px;
    border-radius: 6px;
    margin-bottom: 3rem;
}

.sl2904 {
    display: block;
    position: relative;
    /* margin-bottom: 15px; */
    /* padding-bottom: 10px; */
    /* border-bottom: 1px solid #f2f4f5; */
}

.sl2904 label {
    margin-right: 20px;
}

.sl2904 label span i {margin-right: 5px;margin-left: 5px;font-size: 18px;}
.pre-day-2920 {
    position: relative;
    /* border-bottom: 1px solid #f2f3f5; */
    /* padding-bottom: 15px; */
} 

.Pre-subtitle1 {
    font-weight: 600;
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}

.jss2081 {
    display: flex;
    justify-content: space-between;
    /* padding-bottom: 15px; */
    /* border-bottom: 1px solid #f2f4f5; */
    /* margin-bottom: 15px; */
}

.jss2082 {
    position: relative;
    width: 52px;
    height: 52px;
    margin: 5px 0;
    display: flex;
    text-align: center;
    transition: background-color 0.2s linear;
    border-radius: 52px;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.04);
}

.jss-subday {
    color: rgb(23, 32, 38);
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
}

.jss-day {
    color: rgb(23, 32, 38);
    font-size: 16px;
    margin-top: 0px;
    font-weight: bold;
}

.jss2082:hover {
    background: rgba(0, 0, 0, 0.05);
}
.disable {
    pointer-events: none;
    background: rgba(0, 0, 0, 0.05);
}

.disable .jss-subday, .disable .jss-day {
    color: #b5b5b5;
}

.day-selected {
    background: #f93 !important;
}
.day-selected .jss-subday, .day-selected .jss-day {
    color: #fff;
}
.jss3020 {
    position: absolute;
    max-height: 300px;
    overflow: auto;
    z-index: 10;
    background: #fff;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0px -2px 4px 0px rgba(0, 0, 0, 0.05);
    width: 300px;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    transform: translateY(50px);
}
.jss3020.open-date {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}
.jss0120 {
    width: 100%;
    border-bottom: 1px solid #f2f3f5;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}
.r-tags {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.tag {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    background: #f93;
    color: #fff;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
    padding: 0 10px;
    min-width: 50px;
    line-height: 20px;
}
.mb-20 {
    margin-bottom: 20px;
}
.location .dropdown {
    height: auto;
    border-radius: 10px;
}
.dl0505 {
    position: relative;
    width: 100%;
}

.jss0120 label {
    margin: 0 !important;
    width: 100%;
}
.d0605 {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.d0605 .c51423 {
    transform: rotateY(-180deg);
    margin-right: 10px;
}
.d0605 .c51423 path {
    fill: #fff;
}
.d0705 {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    width: 100%;
    font-size: 13px;
    color: #fff;
    background: #4CAF50;
    border-radius: 4px;
    padding: 10px 10px;
    cursor: pointer;
}
.edit-delivery-time, .select-delivery-time {
    width: 100%;
}
.i0805 {
    position: relative;
}

.jagdyh {
    display: flex;
    width: 100%;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 1px solid #eee;
}

.jahdka {
    display: inline-flex;
    font-weight: 500;
    margin-right: 5px;
}

.jaklfkj {
    font-weight: 500;
    width: calc(100% - 100px);
    font-size: 13px;
}

.kljakl {
    font-weight: 600;
    text-align: right;
}
.i0805 .jagdyh:last-child {
    border: 0;
}

.rjsak {
    font-size: 15px;
    font-weight: 600;
    width: 20px;
    height: 20px;
    text-align: center;
    background: #e2e2e2;
    border-radius: 30px;
    margin-left: 10px;
    cursor: pointer;
    line-height: 20px;
}
.jhkshasMap {
    width: 100%;
    height: 400px;
    margin-top: 15px;
    border-radius: 10px;
    display: none;
}

.jhkshasMap #map {
    height: 400px;
    border-radius: 4px;
}
.product-price-gr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.lahawru span {
    display: inline-flex;
    color: #f93;
    font-size: 16px;
    font-weight: 600;
}

.jsxdh span {
    display: block;
    font-size: 13px;
    font-weight: 500;
}
.details-infor .r-tags {
    margin-bottom: 15px;
    padding: 0 20px 15px;
    border-bottom: 1px solid #eee;
}

.details-infor .r-tags .tag {
    background: #a2a2a2;
}
.mapCheckout #map {
    height: calc(100vh - 87px);
}

.jahdkja {
    position: relative;
}

.kjdgkj {
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 8px 0px, rgba(0, 0, 0, 0.12) 0px 8px 8px 0px;
    border-radius: 8px;
    overflow: hidden;
    top: 30px;
    position: absolute;
    z-index: 20;
    left: 20px;
    background: #fff;
}
.p-header {
    max-width: 100%;
    border-bottom: 1px solid rgb(225, 229, 232);
    display: flex;
    flex-direction: row;
    width: 100%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 20px 15px 10px 15px;
    align-items: center;
}

.p-body {
    padding: 0;
    position: relative;
}

.c103 {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 12px 16px;
}

.c105 {
    border-top: 5px solid rgb(242, 244, 245);
    padding: 11px 16px;
}

.p-header a {
    color: #5ba3dc;
    text-transform: uppercase;
    font-weight: 600;
}

.c104 {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    line-height: 25px;
    font-size: 14px;
    font-weight: 500;
}

.c104 i {
    color: #4a4a4a;
    margin-right: 10px;
    font-size: 20px;
}

.c106 {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0;
    margin-bottom: 5px;
}

.c107 {
    color: #8D9499;
    font-size: 12px;
}
.c108 {
    padding: 12px 16px 0;
    position: relative;
}

.c108 textarea {
    width: 100%;
    resize: none;
    height: 55px;
    background: #f2f3f5;
    border: 0;
    padding: 10px;
    border-radius: 4px;
}
.c108 textarea::placeholder {
    font-size: 12px;
}
.c109 {
    display: block;
    padding: 5px 16px 10px;
    font-size: 12px;
    color: #8D9499;
}

.checkout-header {
    border-bottom: 1px solid #E1E5E8;
    position: relative;
    flex: 0 0 auto;
    padding: 24px 16px 17px;
}

.checkout-header h6 {
    margin: 0;
}

.checkout-body {
    overflow-y: auto;
    flex: 1 1 auto;
    overflow-x: hidden;
    height: 450px;
}

.tjhakjfs {
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #E1E5E8;
}

.klaj {
    padding: 16px 16px 12px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.00938em;
}

.akjhdkj {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 16px 0 24px;
}
.skdka {
    flex: 1;
    display: flex;
    flex-wrap: nowrap;
}

.jjska {
    width: 120px;
    position: relative;
    display: inline-flex;
}

.kjks {
    width: 33%;
    flex-grow: 1;
}

.kjks span {
    width: 53px;
    height: 53px;
    padding: 0;
    min-width: 53px;
    min-height: 53px;
    white-space: nowrap;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .5s;
    font-weight: 600;
}

.jjska input {
    width: 100%;
    background-color: rgb(242, 244, 245);
    color: rgb(23, 32, 38);
    box-sizing: border-box;
    font-weight: 400;
    padding-left: 16px;
    padding-right: 2px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 14px;
    height: 59px;
    border-radius: 4px 0px 0px;
    border: 0;
    font-weight: 600;
}

.jjska .d-item {
    display: flex;
    height: 59px;
    box-sizing: border-box;
    padding-right: 5px;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(242, 244, 245);
    border-radius: 0px 4px 0px 0px;
}
.jjska .d-item span {
    width: 30px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #e6e6e6;
    border-radius: 40px;
    font-size: 25px;
    cursor: pointer;
}

.kjks.selected span {
    background: #f93 !important;
    color: #fff;
}
.kjks span:hover {
    background: rgba(0, 0, 0, 0.05);
}
.wwjj {
    padding: 16px 16px 12px;
    font-size: 12px;
    color: #8D9499;
}
.slPayment, .adVoucher {
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #E1E5E8;
    padding: 10px 0 10px 16px;
}

.slPayment .pappt, .adVoucher .pappt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.slPayment .pappt i, .adVoucher .pappt i {
    font-size: 20px;
}

.slPayment .pappt span, .adVoucher .pappt span {
    margin-left: 10px;
    width: calc(100% - 70px);
    font-weight: 500;
}

.slPayment .pappt a, .adVoucher .pappt a {
    width: 64px;
    text-align: center;
    font-size: 28px;
    color: #000;
}
.c51868 {
    background-color: #F2F4F5;
    padding: 20px 16px 0;
}

.MuiTypography-subtitle1 {
    margin: 0;
    font-size: 18px;
    padding-bottom: 16px;
    border-bottom: 1px solid #d4d4d4;
}
.qwmsuew {
    width: 100%;
    padding: 0 16px 0;
    background: #F2F4F5;
    border-bottom: 1px solid #E1E5E8;
    padding-top: 18px;
    padding-bottom: 8px;
}
.sklksa {
    width: 100%;
    cursor: default;
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    margin-bottom: 5px;
}

.title-c1210 {
    font-weight: 500;
}
.jskjas21 {
    padding: 13px 16px;
    width: 100%;
    background: #F2F4F5;
}

.c101 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    padding: 5px 0;
    color: #777;
}

.checkout-footer {
    border-top: 1px solid #E1E5E8;
    position: relative;
    margin-top: -1px;
    flex: 0 0 auto;
    border-radius: 0 0 8px 8px;
}

.c102 {
    padding: 20px 16px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    position: relative;
}

.button-checkout {
    background: #fff;
    bottom: 0;
    flex: 0 0 auto;
    pointer-events: auto;
    width: 100%;
    z-index: 2;
    border-radius: 0 0 8px 8px;
}

.button-checkout button {
    height: 60px;
    background: #f93;
    color: #fff;
    width: 100%;
    border: 0;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .5px;
    border-radius: 0 0 8px 8px;
}
.modal-j {
    position: fixed;
    z-index: 111;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
}
.modal-j.in {
    opacity: 1;
    visibility: visible;
}
.selectPayment-content {
    background-color: #fff;
    border-radius: 8px;
    bottom: 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0px -2px 4px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    max-height: 100%;
    position: relative;
    width: 460px;
    outline: none;
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
    margin: 20vh auto;
}

.electPayment-header {
    background: #fff;
    padding: 22px 0;
    width: 100%;
    border-radius: 8px 8px 0 0;
    z-index: 2;
}

.electPayment-header h6 {
    text-align: center;
    font-size: 20px;
    margin: 0;
}

.electPayment-header button.mfp-close {
    filter: none;
    color: #000;
}

.selectPayment-body {
    padding: 28px 25px 35px;
}

.form-Payment {
    position: relative;
}

.c110 {
    width: 100%;
    display: flex;
    margin-bottom: 15px;
    flex-direction: column;
}

.c110 input {
    background-color: rgb(242, 244, 245);
    color: rgb(23, 32, 38);
    box-sizing: border-box;
    font-weight: 400;
    padding-left: 16px;
    padding-right: 2px;
    font-size: 14px;
    height: 59px;
    border-radius: 4px 0px 0px;
    width: 100%;
    border: 0;
    position: relative;
    outline: none;
}
.kajs {
    font-size: 12px;
    margin-top: 5px;
    color: #777;
}
.c111 {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
}

.c112 {
    width: calc(33% - 5px);
    position: relative;
    margin-bottom: 15px;
}

.c112 .bootstrap-select>.dropdown-toggle {
    background: #f2f4f5;
    border: 0;
    height: 59px;
    line-height: 59px;
    padding: 0 10px;
}
.c112 .bootstrap-select .dropdown-menu {
    min-width: 100% !important;
}
.c112 .dropdown {
    height: auto;
}

.c112 input {
    width: 100%;
    height: 59px;
    background: #f2f4f5;
    border: 0;
    padding: 0 25px 0 10px;
    position: relative;
    outline: none;
}

.c112 .gy {
    position: absolute;
    right: 11px;
    top: 17px;
    color: #505050;
    font-size: 17px;
}

.selectPayment-footer {
    background: #fff;
    position: relative;
    border-radius: 0 0 8px 8px;
}

.selectPayment-footer button {
    height: 60px;
    width: 100%;
    border: 0;
    text-transform: uppercase;
    font-weight: bold;
    outline: none;
    border-radius: 0 0 8px 8px;
}

#home-intro {
    position: relative;
    height: 100vh;
}

#home-intro .grid {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.grid__item {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
}

.large--one-half {
    width: 50%;
}
.intro-data {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-data.odd {
    background: url(../img/Residential.jpg) center no-repeat;
    background-size: cover;
}

.intro-data.even {
    background: url(../img/Corporation.jpg) left center no-repeat;
    background-size: cover;
}

.intro-data a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* height: 55px; */
    /* background: #000; */
    color: #fff;
    padding: 0 30px;
    border-radius: 6px;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .5px;
    transition: .3s;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.intro-data a:hover {
    /* background: #f93; */
    /* color: #fff; */
}
.boxesPrice {
    position: relative;
}

.boxesPrice-title {
    padding: 20px;
    position: relative;
    color: #777;
    font-size: 14px;
    background: #eee;
}

.jss48 {
    background: #fff;
    padding: 10px 20px;
    border-top: 1px solid #eaeaea;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.boxesPrice-title .subTitle {
    font-weight: 600;
    display: block;
    margin-bottom: 15px;
}