.c51425 {
    height: 24px;
    width: 24px;
} 
.MuiSvgIcon-root {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
}
.c51423 {
    color: #fff;
    height: 24px;
    width: 24px;
    pointer-events: none;
}
.site-navigation .navbar-nav>li.order-history>a {
    padding: 0;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 100px;
}

.site-navigation .navbar-nav>li {
    padding: 0 5px;
} 

.site-navigation .navbar-nav>li>a i.fa-user-circle {font-size: 25px;margin-right: 10px;}

.site-navigation .navbar-nav>li.li-signin a {
    display: flex;
    align-items: center;
    color: #fff;
}
.nav-site.fixed .site-navigation .navbar-nav>li>a, .nav-site.fixed .c51423 {color: #999;}
 
.site-navigation .navbar-nav>li.li-signin {
    margin-left: 20px;
    border-left: 1px solid #eee;
}
.site-navigation .navbar-nav>li>a.show_cart:hover, .site-navigation .navbar-nav>li.order-history>a:hover {
    background: rgba(0, 0, 0, 0.05); 
}
.nav-site.fixed {
    background: #ffffff;
    box-shadow: none;
}
.nav-site .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  padding-left: 50px;
  padding-right: 0;
}
.nav-site .logo-color, .nav-site.fixed .logo-w {
    display: none;
}

.nav-site.fixed .logo-color {
    display: flex;
}
.title-heading {
    background: #ffffff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 87px;
    padding: 55px 20px;
    border-bottom: 1px solid #ccc;
}
.title-heading h1 {font-size: 55px;}
.site-navigation .navbar-nav>li.active>a .c51423 {
    color: #f93;
}

.ul-signed {
    display:none;
}
.user-login .navbar-nav {
    display: none;
}

.user-login .ul-signed {
    display: flex;
}
.E1E5E8 {
	border-bottom: 1px solid #E1E5E8;
}
.mt-86 {
	margin-top: 86px;
}
.filter2904 {
    display: block;
    position: relative;
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #f2f4f5;
}

.sl2904 {
    display: block;
    position: relative;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f2f4f5;
}

.sl2904 label {
    margin-right: 20px;
}

.sl2904 label span i {margin-right: 5px;margin-left: 5px;font-size: 18px;}
.pre-day-2920 {
    position: relative;
} 

.Pre-subtitle1 {
    font-weight: 600;
    display: block;
    margin-bottom: 15px;
    font-size: 16px;
}

.jss2081 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 1px solid #f2f4f5;
    margin-bottom: 15px;
}

.jss2082 {
    position: relative;
    width: 52px;
    height: 52px;
    margin: 5px 0;
    display: flex;
    text-align: center;
    transition: background-color 0.2s linear;
    border-radius: 52px;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.jss-subday {
    color: rgb(23, 32, 38);
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
}

.jss-day {
    color: rgb(23, 32, 38);
    font-size: 16px;
    margin-top: 0px;
    font-weight: bold;
}

.jss2082:hover {
    background: rgba(0, 0, 0, 0.05);
}
.disable {
    pointer-events: none;
    background: rgba(0, 0, 0, 0.05);
}

.disable .jss-subday, .disable .jss-day {
    color: #b5b5b5;
}

.day-selected {
    background: #f93 !important;
}
.day-selected .jss-subday, .day-selected .jss-day {
    color: #fff;
}
.jss3020 {
    position: relative;
    max-height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 25px;
    overflow: auto;
}

.jss0120 {
    width: 25%;
    margin-bottom: 10px;
}